<div class="maincontainer">
  <div class="container col-sm-6 mx-auto align-item-center">
    <div>
      <h3 class="text-center">Recent Blog here...</h3>
    </div>
    <div *ngFor="let blog of blogs" class="card mb-3 bg-secondary text-white p-3">
      <p class="text-bold">{{blog.title}}</p>
      <p class="text-bold">{{blog.author}}</p>
      <p class="text-bold">{{blog.content | slice: 0:10}}
        <span>
          <a [routerLink]="['blogs', blog.id]" class="text-white text-bold">
            ...More
          </a>
        </span>
      </p>
    </div>
  </div>
</div>
